<p>home works!</p>

<ul>
    <li><a href="#">Autores</a></li>
    <li><a href="#">Categorías</a></li>
</ul>

<h3>Novela</h3>
<list-book-by-category [idCategory]="1"></list-book-by-category>
<h3>Cuento</h3>
<list-book-by-category [idCategory]="2"></list-book-by-category>
<h3>Aventuras</h3>
<list-book-by-category [idCategory]="7"></list-book-by-category>
<h3>Romántico</h3>
<list-book-by-category [idCategory]="3"></list-book-by-category>
<h3>Fantasía</h3>
<list-book-by-category [idCategory]="6"></list-book-by-category>
<h3>Filosofía</h3>
<list-book-by-category [idCategory]="5"></list-book-by-category>
<h3>Ciencia Ficción</h3>
<list-book-by-category [idCategory]="4"></list-book-by-category>
<h3>Contemporáneo</h3>
<list-book-by-category [idCategory]="8"></list-book-by-category>


